[Unit]
Description=Gunicorn service

[Service]
ExecStart=/home/dcsadmin/Documents/Chatbot/env/bin/gunicorn -w 3 -b :8080 -t 0 --log-file /home/dcsadmin/Documents/Chatbot/gunicorn.log --chdir /home/dcsadmin/Documents/Chatbot/src/ wsgi:app
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target